* {
  max-width: 100%;
  box-sizing: border-box;
}

#garageCSSIntro {
  background-color: #99b3ff;
}

.titleLink {
  text-decoration:none;
}

.downloadPara {
  text-align:center;
  margin:auto;
  font-size:20px;
  width:70%;
}

.downloadPara p {
  font-weight:bold;
  width:100%;
  background-color:#99b3ff;
}

#footer2 {
  position:absolute;
  bottom: 0px;
  width:100%;
  font-size:18px;
  font-weight:bold;
}

body {
  background-repeat:no-repeat;
  right:0px;
}

#webpageTitle {
  color:#004466;
  font-weight:bold;
}

.libraryHeading1 {
  position:fixed;
  top:0;
  width:100%;
  background:linear-gradient(pink,blue,purple);
  text-align:center;
  z-index:1;
  color:blue;
}

#bodyNav {
  margin:auto;
  width:250px;
  margin-top:125px;
  display:flex;
}

.navBtn {
  text-align:center;
  flex:1;
  list-style-type:none;
  margin:auto;
  background-color:#33A5FF;
}

#navBtnDownload {
  margin-right:3%;
}

#navBtnDocumentation {
  margin-left:3%;
}

#bodyNav .navBtn a {
  border:solid 1px #33A5FF;
  background-color:#33A5FF;
  border-radius:4px;
  text-decoration:none;
  padding:2px;
  font-size:20px;
  font-weight:2px;
  color:white;
  width:22px;
}

#bodyNav .navBtn a:hover {
  box-shadow:0px 0px 9px #33A5FF;
}

a:hover {
  cursor:pointer;
}

#intro {
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

body {
  background-image:url("https://thumbs.dreamstime.com/b/colorful-garage-doors-raw-55561375.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:top;
}

.inputParaName {
  text-align:center;
  font-weight:bold;
  font-size:20px;
}

main {
  padding:1% 3% 1% 3%;
}

#documentationHeading {
  font-size:23px;
}

.introPara {
  margin-bottom:5%;
  background-color: #99b3ff;
}

.introPara li xmp {
  white-space:pre-wrap;
}

h4 {
  font-size:20px;
  text-align:left;
}

/*Headings*/
.tryItPara {
  text-align:center;
  font-size:20px;
}

.funHeading {
  background:-webkit-linear-gradient(red,white,blue);
  max-width:100%;
  text-align:center;
  font-weight:bold;
  padding:0px, 2px 0px 2px;
}

.colorfulHeading {
  background:-webkit-linear-gradient(yellow,purple,green);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
}

footer {
  text-align:center;
}

.fontHeading {
  font-size:25px;
  color:#104e8b;
  font-family: sans-serif;
  text-shadow:3px 3px 5px #590649;
}

.exampleContainer {
  display:flex;
  margin:auto;
  width:80%;
}

.exampleDiv {
  flex:1;
  text-align:center;
}

/*Buttons*/
.exampleButtonsContainer {
  display:flex;
}

.btnDiv {
  flex:1;
  text-align:center;
}

.colorfulBtn {
  background-color:#00ace6;
  font-size:20px;
}

.colorfulBtn:hover {
  background:-webkit-linear-gradient(green,blue,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
}

.clickMeBtn {
  font-size:20px;
  color: #cc99ff;
  box-shadow:2px 2px 9px #cc99ff;
  background-color:#b3b3b3;
  cursor:pointer;
}

.clickMeBtn:hover {
  box-shadow:2px 2px 9px #33ccff;
}

.hoverBtn {
  font-size:20px;
}

.hoverBtn:hover {
  background:-webkit-linear-gradient(purple,pink,blue);
}

/*Top Website NavBar*/
#topNav {
  display:flex;
}

.topNavDiv {
   flex:1;
}

.topNavLink {
  font-weight:bold;
  color:black;
  font-size:20px;
}

.topNavLink:hover {
  color:blue;
}

pre {
  background-color:	#cccccc;
  width:70%;
  margin:auto;
}

.htmlCode {
  font-size:17px;
  display:block;
  margin:auto;
  width:50%;
  height:200px;
}

/*Forms*/
.formsDiv {
  text-align:center;
}

.formInput:hover {
  background-color: #99ccff;
}

.formInput  {
  line-height:5px;
}

.dropdownInput {
  font-size:17px;
  font-weight:bold;
}

.dropdownInput:hover {
  background-color:#0099cc;
}

#formLabel {
  font-size:17px;
}

.inputPara {
  font-size:19px;
  font-weight:bold;
}

/*Grids*/
.gridDiv {
  display:flex;
  border:solid 1px blue;
}

.col {
  border:solid 1px blue;
  min-height:100px;
  margin:1em;
}

.col:hover {
  background:linear-gradient(pink,blue,purple);
}

.col_1 {
  flex:1;
}

.col_2 {
  flex:2;
}

.col_3 {
  flex:;
}

.col_4 {
  flex:4
}

.col_5 {
  flex:5;
}

/*Container backgrounds*/
#headingsContainer, #headingsSizeContainer, #btnContainer, #formsContainer, #gridContainer, #fontContainer, #anchorContainer, #navbarContainer1, #tableContainer,#listContainer, #otherStylesContainer {
  margin-bottom:5%;
  background-color: #80ccff;
  border-radius:4px;
  padding: 4px;
  width:100%;
}

/*heading sizes*/

.heading1 {
  font-size:50px;
  text-align:center;
}

.heading2 {
  font-size:45px;
  text-align:center;
}

.heading3 {
  font-size:40px;
  text-align:center;
}

.heading4 {
  font-size:35px;
  text-align:center;
}

.heading5 {
  font-size:30px;
  text-align:center;
}

.heading6 {
  font-size:25px;
  text-align:center;
}

/*Fonts*/
@font-face {
  font-family:calista;
  src:url(./calista_script/calista.ttf);
}

.calistaFont {
  font-family:calista;
  font-size:30px;
}

@font-face {
  font-family: prettyFont;
  src:url(./pretty_font/broken_heart.ttf);
}

.prettyFont {
  font-family:prettyFont;
  font-size:30px;
}

@font-face {
  font-family:basicSansSerifFont;
  src:url(./basic_font/LemonMilk.otf);
}

.basicFont {
  font-family:basicSansSerifFont;
  font-size:30px;
}

/*anchors*/
.anchor1 {
  font-size:25px;
  font-weight:bold;
  color:#0099CC;
}

.anchor1:hover {
  color:#809fff;
}

.anchor:visited {
  color:green;
}

.anchor2 {
  font-size:25px;
  font-weight:bold;
  text-decoration:underline;
  color:#005580;
}

.anchor2:hover {
   color:#2952a3;
}

.anchor2:visited {
  color:green;
}

.anchor3 {
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
  color:#1a75ff;
  border:solid 2px;
  background-color:
}

.anchor3:hover {
   color:#006600;
}

/*Additional Form element styles*/
.label1 {
  text-align:center;
}

.radio1 {
  border:solid 2px blue;
  margin:auto;
}

.textarea1 {
  border:solid 2px blue;
  border-width: 5px;
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-51fa9bae900dd34893578b0fe9075909-c");
  height:250px;
  width:35%;
  background-size:cover;
  background-repeat:no-repeat;
}

.textarea1:hover {
  border:solid 2px #ffb3ff;
  border-width: 5px;
}

.checkbox1 {
  border:solid 2px blue;
}

.formContainer {
  text-align:center;
  margin:2%;
  border:solid 2px blue;
}

.checkboxContainer {
  display:block;
  position:relative;
  margin-bottom: 12px;;
  font-size: 20px;
}

.checkbox1 {
  position:absolute;
  opacity:0;
  cursor:pointer;
}

.checkmark {
 position:absolute;
 top:0;
 left:42%;
 height:20px;
 width:20px;
 line-height:2px;
 background-color:#eee;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color:#99ccff;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #0099cc;
}

.checkboxContainer .checkmark {
  border: solid white;
}

.label1 {
  font-size:20px;
}

/*navbar*/
.navBarContainer {
  display:flex;
  border:solid blue;
}

.navBar {
  flex:1;
  text-align:center;
  font-size:18px;
  background-color: #00ace6;
}

.navBar:hover {
  background-color:#80aaff;
}

/*Table*/
.table {
  border-collapse:collapse;
  margin:auto;
  width:30%;
}

.table td:hover {
  background-color: #999999;
  cursor:pointer;
}

.table td {
  border:solid 2px #0099cc;
  text-align:center;
}

.table th {
  border:solid 2px #0099cc;
  text-align:center;
  border-bottom-width:3px;
}

.table tr input {
  border:solid 2px #0099cc;
  width:30%;
}

.inputTable {
  margin:auto;
  display:flex;
  width:80%;
  border-collapse:collapse;
}

.rowDiv {
  flex:1;
  width:18%;
  text-align:center;
}

.rowDiv input {
  width:100%;
  border:solid 1px #0077b3;
}

.label {
  text-align:center;
  font-weight:bold;
  background-color:#cccccc;
}

/*Lists*/
.listDiv {
  width:115px;
  font-size:17px;
  margin:auto;
  text-align:center;
}

.listDiv label {
  text-align:left;
}

.olList {
  list-style-type:upper-roman;
  list-style-position:inside;
  text-align:left;
  margin:0px;
  margin-top:3px;
  padding:0px;
}

.olList li {
  padding: 3px;
  padding-left:8%;
}

.ulList li {
  padding: 3px;
  padding-left:8%;
}
body {
    margin-top:9%;
  }
.ulList {
  list-style-type: circle;
  list-style-position:inside;
  text-align:left;
  margin:0px;
  margin-top:3px;
  padding:0px;
}

@media(max-width:320px) {
  #bodyNav {
    margin-top:125px;
    z-index:-2;
  }
  #iconDiv {
    position:absolute;
    right:0px;
    top:0;
    border: solid 2px blue;
    margin: 1% 1% 2% 2%;
  }
  #icon {
    font-size:2em;
  }
  #topNav {
    position:absolute;
    right:0px;
    top:0;
    border: solid 2px #99b3ff;
    background-color:#80ccff;
    margin: 0% 0% 0% 0%;
    padding-left:0px;
    width:100%;
    text-align:center;
    z-index:-1;
  }
  .topNavDiv {
    border: solid 2px #99b3ff;
  }
  .topNavLink {
    font-weight:bold;
    text-decoration-line:none;
    cursor:pointer;
  }
  .topNavDiv:hover {
    background:-webkit-linear-gradient(purple,pink,blue);
  }
  .introPara li {
    width:90%;
  }
  .introPara li xmp {
    white-space:pre-wrap;
  }
  .exampleContainer {
    display:block;
    width:90%;
  }
  .exampleDiv {
    margin-top:7%;
  }
  .exampleButtonsContainer {
    display:block;
    width:90%;
  }
  .btnDiv {
    margin-top:5%;
  }
  .htmlCode {
    font-size:14px;
    display:block;
    margin:auto;
    width:100%;
    height:200px;
    text-align:left;
  }
  .textarea1 {
    width:90%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:8%;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:50px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
  .listDiv {
    width:115px;
    font-size:17px;
    margin:auto;
    text-align:center;
  }
}
@media (min-width:320px) {
  #bodyNav {
    margin-top:125px;
    z-index:-2;
  }
  #iconDiv {
    position:absolute;
    right:0px;
    top:0;
    border: solid 2px blue;
    margin: 1% 1% 2% 2%;
  }
  #icon {
    font-size:2em;
  }
  #topNav {
    position:absolute;
    right:0px;
    top:0;
    border: solid 2px #99b3ff;
    background-color:#80ccff;
    margin: 0% 0% 0% 0%;
    padding-left:0px;
    width:100%;
    text-align:center;
    z-index:-1;
  }
  .topNavDiv {
    border: solid 2px #99b3ff;
  }
  .topNavLink {
    font-weight:bold;
    text-decoration-line:none;
    cursor:pointer;
  }
  .topNavDiv:hover {
    background:-webkit-linear-gradient(purple,pink,blue);
  }
  .introPara li {
    width:90%;
  }
  .introPara li xmp {
    white-space:pre-wrap;
  }
  .exampleContainer {
    display:block;
    width:90%;
  }
  .exampleDiv {
    margin-top:7%;
  }
  .exampleButtonsContainer {
    display:block;
    width:90%;
  }
  .btnDiv {
    margin-top:5%;
  }
  .htmlCode {
    font-size:14px;
    display:block;
    margin:auto;
    width:100%;
    height:200px;
    text-align:left;
  }
  .textarea1 {
    width:90%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:8%;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:50px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
}
@media (min-width:480px) {
  #bodyNavHeader {
    width:59%;
    margin:auto;
    z-index:-2;
  }
  #bodyNav {
    z-index:-2;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:55%;
    margin:auto;
    font-size: 20px;
  }
}
@media (min-width:640px) {
  #bodyNavHeader {
    width:59%;
    margin:auto;
    z-index:-2;
  }
  #bodyNav {
    z-index:-2;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:65px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:42%;
    margin:auto;
    font-size: 20px;
  }
}
@media (min-width:768px) {
  #bodyNavHeader {
    width:35%;
    margin:auto;
    z-index:-2;
  }
  #bodyNav {
    z-index:-2;
    margin-top:140px;
  }
  #iconDiv {
    display:none;
  }
  #topNav {
    display:flex;
    position:static;
    background:linear-gradient(pink,blue,purple);
    width:100%;
    text-align:center;
    z-index:1;
  }
  .topNavDiv {
    flex:1;
    border:none;
  }
  .topNavLink {
    font-weight:bold;
    text-decoration-line:none;
    color:black;
    font-size:20px;
    cursor:pointer;
  }
  .topNavDiv:hover {
    color:blue;
    cursor:pointer;
  }
  .textarea1 {
    width:80%;
  }
  .exampleContainer {
    display:flex;
    width:80%;
  }
  .exampleDiv {
    margin-top:7%;
  }
  .exampleButtonsContainer {
    display:flex;
    margin:auto;
    width:80%;
  }
  .btnDiv {
    margin:auto;
  }
  .htmlCode {
    font-size:14px;
    display:block;
    margin:auto;
    width:80%;
    height:200px;
    text-align:left;
  }
  .textarea1 {
    width:70%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:33%;;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:90px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
}
@media (min-width: 960px) {
  #bodyNavHeader {
    width:35%;
    margin:auto;
    z-index:-2;
  }
  #bodyNav {
    z-index:-2;
  }
  #iconDiv {
    display:none;
  }
  #topNav {
    display:flex;
    position:none;
    right:0px;
    top:0;
    border: none;
    background-color:#80ccff;
    margin: 0% 0% 0% 0%;
    padding-left:0px;
    width:100%;
    text-align:center;
    z-index:1;
  }
  .topNavDiv {
    flex:1;
    border: none;
  }
  .topNavLink {
    font-weight:bold;
    text-decoration-line:none;
    color:black;
    font-size:20px;
    cursor:pointer;
  }
  .topNavDiv:hover {
    background-color:none;
    color:blue;
    cursor:pointer;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:63%;
    margin:auto;
    font-size: 20px;
  }
  .textarea1 {
    width:50%;
  }
}
@media (min-width: 1200px) {
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:52%;
    margin:auto;
    font-size: 20px;
  }
  .textarea1 {
    width:45%;
  }
}
