* {
  max-width: 100%;
  box-sizing: border-box;
}

a:hover {
  cursor:pointer;
}

#documentationHeading {
  font-size:23px;
}

/*Headings*/

.funHeading {
  background:-webkit-linear-gradient(red,white,blue);
  max-width:100%;
  text-align:center;
  font-weight:bold;
  padding:0px, 2px 0px 2px;
}

.colorfulHeading {
  background:-webkit-linear-gradient(yellow,purple,green);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
}

.fontHeading {
  font-size:25px;
  color:#104e8b;
  font-family: sans-serif;
  text-shadow:3px 3px 5px #590649;
}

.exampleContainer {
  display:flex;
  margin:auto;
  width:80%;
}

.exampleDiv {
  flex:1;
  text-align:center;
}

/*Buttons*/

.btnDiv {
  flex:1;
  text-align:center;
}

.colorfulBtn {
  background-color:#00ace6;
  font-size:20px;
}

.colorfulBtn:hover {
  background:-webkit-linear-gradient(green,blue,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
}

.clickMeBtn {
  font-size:20px;
  color: #cc99ff;
  box-shadow:2px 2px 9px #cc99ff;
  background-color:#b3b3b3;
  cursor:pointer;
}

.clickMeBtn:hover {
  box-shadow:2px 2px 9px #33ccff;
}

.hoverBtn {
  font-size:20px;
}

.hoverBtn:hover {
  background:-webkit-linear-gradient(purple,pink,blue);
}

/*Top Website NavBar*/
.topNavDiv {
   flex:1;
}

.topNavLink {
  font-weight:bold;
  color:black;
  font-size:20px;
}

.topNavLink:hover {
  color:blue;
}

/*Forms*/
.formsDiv {
  text-align:center;
}

.formInput:hover {
  background-color: #99ccff;
}

.formInput  {
  line-height:5px;
}

.dropdownInput {
  font-size:17px;
  font-weight:bold;
}

.dropdownInput:hover {
  background-color:#0099cc;
}

#formLabel {
  font-size:17px;
}

.inputPara {
  font-size:19px;
  font-weight:bold;
}

/*Grids*/
.gridDiv {
  display:flex;
  border:solid 1px blue;
}

.col {
  border:solid 1px blue;
  min-height:100px;
  margin:1em;
}

.col:hover {
  background:linear-gradient(pink,blue,purple);
}

.col_1 {
  flex:1;
}

.col_2 {
  flex:2;
}

.col_3 {
  flex:;
}

.col_4 {
  flex:4
}

.col_5 {
  flex:5;
}

/*heading sizes*/
.heading1 {
  font-size:50px;
  text-align:center;
}

.heading2 {
  font-size:45px;
  text-align:center;
}

.heading3 {
  font-size:40px;
  text-align:center;
}

.heading4 {
  font-size:35px;
  text-align:center;
}

.heading5 {
  font-size:30px;
  text-align:center;
}

.heading6 {
  font-size:25px;
  text-align:center;
}

/*Fonts*/
@font-face {
  font-family:calista;
  src:url(./calista_script/calista.ttf);
}

.calistaFont {
  font-family:calista;
  font-size:30px;
}

@font-face {
  font-family: prettyFont;
  src:url(./pretty_font/broken_heart.ttf);
}

.prettyFont {
  font-family:prettyFont;
  font-size:30px;
}

@font-face {
  font-family:basicSansSerifFont;
  src:url(./basic_font/LemonMilk.otf);
}

.basicFont {
  font-family:basicSansSerifFont;
  font-size:30px;
}

/*anchors*/
.anchor1 {
  font-size:25px;
  font-weight:bold;
  color:#0099CC;
}

.anchor1:hover {
  color:#809fff;
}

.anchor:visited {
  color:green;
}

.anchor2 {
  font-size:25px;
  font-weight:bold;
  text-decoration:underline;
  color:#005580;
}

.anchor2:hover {
   color:#2952a3;
}

.anchor2:visited {
  color:green;
}

.anchor3 {
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
  color:#1a75ff;
  border:solid 2px;
  background-color:
}

.anchor3:hover {
   color:#006600;
}

/*Additional Form element styles*/
.label1 {
  text-align:center;
}

.radio1 {
  border:solid 2px blue;
  margin:auto;
}

.textarea1 {
  border:solid 2px blue;
  border-width: 5px;
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-51fa9bae900dd34893578b0fe9075909-c");
  height:250px;
  width:35%;
  background-size:cover;
  background-repeat:no-repeat;
}

.textarea1:hover {
  border:solid 2px #ffb3ff;
  border-width: 5px;
}

.checkbox1 {
  border:solid 2px blue;
}

.formContainer {
  text-align:center;
  margin:2%;
  border:solid 2px blue;
}

.checkboxContainer {
  display:block;
  position:relative;
  margin-bottom: 12px;;
  font-size: 20px;
}

.checkbox1 {
  position:absolute;
  opacity:0;
  cursor:pointer;
}

.checkmark {
 position:absolute;
 top:0;
 left:42%;
 height:20px;
 width:20px;
 line-height:2px;
 background-color:#eee;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color:#99ccff;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #0099cc;
}

.checkboxContainer .checkmark {
  border: solid white;
}

.label1 {
  font-size:20px;
}

/*navbar*/
.navBarContainer {
  display:flex;
  border:solid blue;
}

.navBar {
  flex:1;
  text-align:center;
  font-size:18px;
  background-color: #00ace6;
}

.navBar:hover {
  background-color:#80aaff;
}

/*Table*/
.table {
  border-collapse:collapse;
  margin:auto;
  width:30%;
}

.table td:hover {
  background-color: #999999;
  cursor:pointer;
}

.table td {
  border:solid 2px #0099cc;
  text-align:center;
}

.table th {
  border:solid 2px #0099cc;
  text-align:center;
  border-bottom-width:3px;
}

.table tr input {
  border:solid 2px #0099cc;
  width:30%;
}

.inputTable {
  margin:auto;
  display:flex;
  width:80%;
  border-collapse:collapse;
}

.rowDiv {
  flex:1;
  width:18%;
  text-align:center;
}

.rowDiv input {
  width:100%;
  border:solid 1px #0077b3;
}

.label {
  text-align:center;
  font-weight:bold;
  background-color:#cccccc;
}

/*Lists*/
.listDiv {
  width:115px;
  font-size:17px;
  margin:auto;
  text-align:center;
}

.listDiv label {
  text-align:left;
}

.olList {
  list-style-type:upper-roman;
  list-style-position:inside;
  text-align:left;
  margin:0px;
  margin-top:3px;
  padding:0px;
}

.olList li {
  padding: 3px;
  padding-left:8%;
}

.ulList li {
  padding: 3px;
  padding-left:8%;
}

.ulList {
  list-style-type: circle;
  list-style-position:inside;
  text-align:left;
  margin:0px;
  margin-top:3px;
  padding:0px;
}

/*Blockquotes*/
.blockquote {
  border-left:9px solid #0099cc;
  padding-left: 9px;
  quotes: "\201C""\201D""\2018""\2019";

}
.blockquoteBefore:before {
   color:#80aaff;
   content: open-quote;
   font-size:3em;
   margin-right:0.2em;
   vertical-align:-0.3em;
   line-height:0.2em;
}

/*Images*/
.imageCenter {
  margin:auto;
  border:solid 2px blue;
  width:250px;
  border-width:1em;
}

/*Toggle button*/
#toggleBtn {
  margin:auto;
}

#togglePara {;
  text-align:center;
}

.buttonDiv {
  text-align:center;
  margin:auto;
}

@media(max-width:320px) {
  .textarea1 {
    width:90%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:8%;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:50px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
  .listDiv {
    width:115px;
    font-size:17px;
    margin:auto;
    text-align:center;
  }
}
@media (min-width:320px) {
  .textarea1 {
    width:90%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:8%;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:50px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
}
@media (min-width:480px) {
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:55%;
    margin:auto;
    font-size: 20px;
  }
}
@media (min-width:640px) {
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:65px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
  .listDiv {
    width:115px;
    font-size:17px;
    margin:auto;
    text-align:center;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:42%;
    margin:auto;
    font-size: 20px;
  }
}
@media (min-width:768px) {
  .textarea1 {
    width:80%;
  }
  .btnDiv {
    margin:auto;
  }
  .textarea1 {
    width:70%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:80%;
    margin:auto;
    font-size: 20px;
  }
  .checkbox1 {
    position:absolute;
    opacity:0;
    cursor:pointer;
  }
  .checkmark {
   position:absolute;
   top:0;
   left:33%;;
   height:20px;
   width:20px;
   line-height:2px;
   background-color:#eee;
  }
  .gridDiv {
    display:flex;
    border:solid 1px blue;
  }
  .col {
    border:solid 1px blue;
    min-height:90px;
    margin:2px;
  }
  .col_1 {
    flex:1;
  }
  .listDiv {
    width:115px;
    font-size:17px;
    margin:auto;
    text-align:center;
  }
}
@media (min-width: 960px) {
  .textarea1 {
    width:80%;
  }
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:63%;
    margin:auto;
    font-size: 20px;
  }
  .textarea1 {
    width:50%;
  }
}
@media (min-width: 1200px) {
  .checkboxContainer {
    display:block;
    position:relative;
    margin-bottom: 12px;
    width:52%;
    margin:auto;
    font-size: 20px;
  }
  .textarea1 {
    width:45%;
  }
}
@media (min-width: 1400px) {

}
